#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  padding: 20px 0;
	margin: 0 auto;
	max-width: 1000px;
	display: flex;
	flex-wrap: wrap;
}

#restaurants-list li {
	width: 100vw;
}

#restaurants-list li div {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  padding: 30px 25px;
  text-align: left;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: auto;
  min-width: 100%;
}

#restaurants-list li h2:hover {
  color: #f18200;
}

#restaurants-list li h2 {
  color: #3F51B5;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

@media screen and (min-width: 500px) {
	#restaurants-list li {
		width: 50vw;
	}
}

@media screen and (min-width: 800px) {
	#restaurants-list li {
		width: calc((100%)/3);
	}
}
