.filter-options {
  max-width: 100%;
  background-color: #3F51B5;
  align-items: center;
  padding: 15px;
}

.filter-options h2 {
  color: #ffffff;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0;
}

.filter-options select {
  background-color: white;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 15px 0 10px 0;
  padding: 0 10px;
  width: 200px;
}
